.btn-primary {
  background-color: #E7603C;
  color: white;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.22);
  border-radius: 1.56rem;
  padding: 12px 30px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.btn-secondary {
  background-color: #FFFFFF;
  color: #0e0e0e;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.22);
  border-radius: 1.56rem;
  padding: 12px 30px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
