.hero {
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}
.main-bg {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  display: block;
}

.hero-img-container {
  position: relative;
  width: 100%;
}

.hero-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: white;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  font-weight: 550;
  width: 70%;
  margin: 0 auto 1.5rem auto;
}

.content p {
  font-size: 1.5rem;
  width: 60%;
  margin: 0 auto 2rem auto;
  color: #555;
}

.btn-primary {
  background-color: #f06a4c;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}
