<section class="hero">
  <div class="hero-img-container">
    <img src="./assets/diabetes-diagnostico-3.jpg" class="main-bg" alt="Hero Image">
    <div class="overlay"></div>

    <div class="nav-wrapper">
      <app-navbar></app-navbar>
    </div>
  </div>

  <div class="hero-text-area">
    <div class="content">
      <h1>{{ langService.translate('heroTitle') }}</h1>
      <p>{{ langService.translate('heroTexto') }}</p>

      <button class="btn-primary">
        {{ langService.translate('comenzar') }}
      </button>
    </div>
  </div>
</section>
