nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
}
.text-nav{
  display: flex;
  flex-direction: row;
  color: white;
  gap: 3rem;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.71);
  font-family: "Poppins", sans-serif;
}
.text-nav a{
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
.text-nav a:hover{
  color:#5AAEA4;
  cursor: pointer;
}
.text-nav h3{
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
}

.logo-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  margin-right: 20px;
  text-transform: uppercase;
}

.logo-text span {
  font-weight: 700;
}
.buttons-nav{
  display: flex;
  align-content: center;
  gap: 2.0rem;
}
