<section id="servicios-section" class="services-section">

  <h2 class="services-title">
    {{ langService.translate('serviciosEspecializados') }}
  </h2>

  <div class="video-grid" aria-label="Videos de servicios especializados">
    <div class="video-card">
      <iframe
        src="https://www.youtube.com/embed/a06rm4RD69A?si=Bf1bBZU3BGzbvAVI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>

    <div class="video-card">
      <iframe
        src="https://www.youtube.com/embed/7PH1xagxlBU?si=Rdk-icJjvPj5AJHL"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="carousel-container">
    <button class="carousel-control prev" (click)="anterior()">
      <span class="arrow-icon">&#8249;</span>
    </button>

    <div class="service-card">
      <img [src]="servicios[indiceActual].imagen"
           [alt]="langService.translate(servicios[indiceActual].titulo)"
           class="card-image">

      <div class="card-text-overlay">
        <h3>
          {{ langService.translate(servicios[indiceActual].titulo) }}
        </h3>
      </div>
    </div>

    <button class="carousel-control next" (click)="siguiente()">
      <span class="arrow-icon">&#8250;</span>
    </button>

  </div>
</section>
